<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Customer program management system</display-name>
    <description>Customer program management system</description>
    <!--===================Servlet Definitions  - Default (start)==================-->
    <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>ubq.base.ULog4jInit</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/lib/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--    <servlet>
        <servlet-name>MailDaemonInit</servlet-name>
        <servlet-class>ubq.base.UMailDaemonInit</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>BOEscalationDaemon</servlet-name>
        <servlet-class>ubq.appFramework.BOEscalationDaemon</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>-->
    <servlet>
        <servlet-name>AssetUtilizationServlet</servlet-name>
        <servlet-class>ubq.assetUtlization.AssetUtilizationServlet</servlet-class>
        <init-param>
            <param-name>PlantlevelLPFReport</param-name>
            <param-value>jsp/assetUtlization/PlantLevelLPFReport.jsp</param-value>
            </init-param>
    </servlet>
    <servlet>
        <servlet-name>AssetUtilizationUploadServlet</servlet-name>
        <servlet-class>ubq.assetUtlization.AssetUtilizationUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttachmentsServlet</servlet-name>
        <servlet-class>ubq.base.AttachmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDesktopServlet</servlet-name>
        <servlet-class>ubq.base.UDesktopServlet</servlet-class>
        <init-param>
            <param-name>DesktopJSP</param-name>
            <param-value>jsp/common/Desktop.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EntityManagementServlet</servlet-name>
        <servlet-class>ubq.masters.EntityManagementServlet</servlet-class>
        <init-param>
            <param-name>EntityManagementJSP</param-name>
            <param-value>jsp/common/EntityManagement.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>AWListJSP</param-name>
            <param-value>jsp/common/AWList.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>voidSearch</param-name>
            <param-value>jsp/common/NoResultsFound.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>RatedCapacityJSP</param-name>
            <param-value>jsp/common/RatedCapacity.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>FuelsAllowedJSP</param-name>
            <param-value>jsp/common/FuelsAllowed.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>EntityProfileJSP</param-name>
            <param-value>jsp/common/Profile.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>DataEntryResponseJSP</param-name>
            <param-value>jsp/common/scmDataEntryResponse.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProductMasterServlet</servlet-name>
        <servlet-class>ubq.masters.ProductMasterServlet</servlet-class>
        <init-param>
            <param-name>InitSKUJSP</param-name>
            <param-value>jsp/common/ProdTypeManagement.jsp</param-value>
        </init-param>
        
        <init-param>
            <param-name>ProdTypeDetailsJSP</param-name>
            <param-value>jsp/common/ProductTypeDetails.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>ListJSP</param-name>
            <param-value>jsp/common/SKUTypeList.jsp</param-value>
        </init-param>
        
        <init-param>
            <param-name>voidSearch</param-name>
            <param-value>jsp/common/NoResultsFound.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>DataEntryResponseJSP</param-name>
            <param-value>jsp/common/scmDataEntryResponse.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FuelMasterManager</servlet-name>
        <servlet-class>ubq.masters.FuelMasterManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuelMasterServlet</servlet-name>
        <servlet-class>ubq.masters.FuelMasterServlet</servlet-class>
        <init-param>
            <param-name>InitFuelJSP</param-name>
            <param-value>jsp/common/FuelManagement.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>FuelListJSP</param-name>
            <param-value>jsp/common/FuelTypeList.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>FuelDetailsJSP</param-name>
            <param-value>jsp/common/FuelDetails.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>voidSearch</param-name>
            <param-value>jsp/common/NoResultsFound.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>DataEntryResponseJSP</param-name>
            <param-value>jsp/common/scmDataEntryResponse.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachmentsServlet</servlet-name>
        <url-pattern>/AttachmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDesktopServlet</servlet-name>
        <url-pattern>/UDesktop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UbqLoginServlet</servlet-name>
        <servlet-class>ubq.base.ULoginServlet</servlet-class>
        <init-param>
            <param-name>loginJSP</param-name>
            <param-value>jsp/common/Login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>setPasswordJSP</param-name>
            <param-value>jsp/common/uhSetPassword.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>productID</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>appVersion</param-name>
            <param-value>1.0.000</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UMasterServlet</servlet-name>
        <servlet-class>ubq.base.UMasterServlet</servlet-class>
        <init-param>
            <param-name>roleMasterJSP</param-name>
            <param-value>jsp/common/RoleMaster.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>userMasterJSP</param-name>
            <param-value>jsp/common/UserMaster.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>dataEntryResponseJSP</param-name>
            <param-value>jsp/common/uhDataEntryResponse.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/lib/log4j.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>UMasterServlet</servlet-name>
        <url-pattern>/UMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ULogoutServlet</servlet-name>
        <servlet-class>ubq.base.ULogoutServlet</servlet-class>
        <init-param>
            <param-name>loginJSP</param-name>
            <param-value>jsp/common/outReachLogin.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>USetPasswordServlet</servlet-name>
        <servlet-class>ubq.base.USetPasswordServlet</servlet-class>
        <init-param>
            <param-name>loginJSP</param-name>
            <param-value>jsp/common/outReachLogin.jsp</param-value>
        </init-param>
    </servlet>
    <!--=================== Application Framework (BEGIN)==================-->
    <servlet>
        <servlet-name>BOServlet</servlet-name>
        <servlet-class>ubq.appFramework.BOServlet</servlet-class>
        <init-param>
            <param-name>BOContainerJSP</param-name>
            <param-value>/jsp/appFramework/BOContainer.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>worklistItemsJSP</param-name>
            <param-value>jsp/common/WorklistItems.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>worklistTasksJSP</param-name>
            <param-value>jsp/appFramework/WorklistTasks.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BOServlet</servlet-name>
        <url-pattern>/BOServlet</url-pattern>
    </servlet-mapping>
    <!--=================== Application Framework (END)==================-->
    <!-- ========================= Servlet Mappings ========================= -->
    <servlet-mapping>
        <servlet-name>AssetUtilizationServlet</servlet-name>
        <url-pattern>/AssetUtilizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetUtilizationUploadServlet</servlet-name>
        <url-pattern>/AssetUtilizationUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbqLoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ULogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>USetPasswordServlet</servlet-name>
        <url-pattern>/SetPassword</url-pattern>
    </servlet-mapping>
    <!-- ========================= Servlet Mappings========================= -->
    <servlet-mapping>
        <servlet-name>EntityManagementServlet</servlet-name>
        <url-pattern>/EntityManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMasterServlet</servlet-name>
        <url-pattern>/ProductMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuelMasterManager</servlet-name>
        <url-pattern>/FuelMasterManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuelMasterServlet</servlet-name>
        <url-pattern>/FuelMasterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
