/* CSS Document */
.bannerBackgroundColor{
	background-color: #9B638E;
}
.tableHeaderColor{
	background-color: #C32020; // #744A6A;
}
.workAreaBackgroundColor{
	background-color: #BC96B3;
}
.tableBodyColor{
	background-color: #E1CFDD;
}
.activityBackgroundColor{
	background-color: #E1CFDD;
}
.workTableBodyColor{
	background-color:#E7D7E4;
}
